<div class="row">
  <app-box [data]="boxes[0]" (clicked)="onClick(0, $event)"></app-box>
  <app-box [data]="boxes[1]" (clicked)="onClick(1, $event)"></app-box>
  <app-box [data]="boxes[2]" (clicked)="onClick(2, $event)"></app-box>
</div>
<div class="row">
  <app-box [data]="boxes[3]" (clicked)="onClick(3, $event)"></app-box>
  <app-box [data]="boxes[4]" (clicked)="onClick(4, $event)"></app-box>
  <app-box [data]="boxes[5]" (clicked)="onClick(5, $event)"></app-box>
</div>
<div class="row">
  <app-box [data]="boxes[6]" (clicked)="onClick(6, $event)"></app-box>
  <app-box [data]="boxes[7]" (clicked)="onClick(7, $event)"></app-box>
  <app-box [data]="boxes[8]" (clicked)="onClick(8, $event)"></app-box>
</div>
