<div class="row">
  <app-cell [data]="data[0]" (clicked)="onClick(0)"></app-cell>
  <app-cell [data]="data[1]" (clicked)="onClick(1)"></app-cell>
  <app-cell [data]="data[2]" (clicked)="onClick(2)"></app-cell>
</div>
<div class="row">
  <app-cell [data]="data[3]" (clicked)="onClick(3)"></app-cell>
  <app-cell [data]="data[4]" (clicked)="onClick(4)"></app-cell>
  <app-cell [data]="data[5]" (clicked)="onClick(5)"></app-cell>
</div>
<div class="row">
  <app-cell [data]="data[6]" (clicked)="onClick(6)"></app-cell>
  <app-cell [data]="data[7]" (clicked)="onClick(7)"></app-cell>
  <app-cell [data]="data[8]" (clicked)="onClick(8)"></app-cell>
</div>
